<div class="main-container">
  <h1>Tous les cocktails</h1>
  <div class="cocktail-cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="cocktail-card">
          <div class="cocktail-card-photo">
            <%= cl_image_tag(cocktail.photo, :height=>250, :crop=>"scale") %>
          </div>
          <div class="cocktail-card-description">
            <p><%= cocktail.name %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
