.banner {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('cocktail-banner.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  h1 {
    margin-bottom: 15px;
  }
  p {
    font-size: 21px;
    margin-bottom: 15px;
  }
}
