.footer {
  background: $gray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70px;
  color: $pink;
  opacity: .8;
  .fa-heart {
    color: $pink;
  }
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  p {
    margin: 0;
    padding-right: 50px;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  padding-left: 50px;
  a {
    color: $pink;
    opacity: .7;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  a:hover {
    color: $pink;
    opacity: 1;
  }
}

@media(max-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr ;
    .footer-copyright {
      justify-content: center;
      p {
        padding: 0;
      }
    }
    .footer-links {
      padding: 0;
      justify-content: center;
    }
  }
}
