.form-dose {
  display: grid;
  grid-template-columns: 1fr 1fr 10%;
  grid-column-gap: 15px;
  .fa-trash-alt {
    align-self: center;
  }
  .fa-trash-alt:hover {
    opacity: .7;
    color: $pink;
  }
  a {
    display: flex;
  }
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  p {
    text-align: center;
  }
}

// Setup simple_form

.new_cocktail {
  label, input {
    font-weight: 300;
  }
}

.fa-plus:hover {
  opacity: .7;
  color: $pink;
}

.select2-selection, #cocktail_description {
  font-weight: 300;
}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 10px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  font-weight: 500 !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
