#search-form {
  display: flex;
  justify-content: center;
}

#query {
  width: 50%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  justify-content: center;
}


@media(max-width: 992px) {
  #query {
    width: 460px;
  }
}
