// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";

.main-container {
  width: 1200px;
  margin: 50px auto;
}

.main-container-padding {
  padding-top: 50px;
}

@media(max-width: 992px) {
  .main-container {
    width: 90%;
    h2 {
      margin-left: 50px;
    }
  }
}

@media(max-width: 768px) {
  .main-container h2 {
    text-align: center;
    margin-left: 0
  }
}

.form-container {
  width: 500px;
  margin: 0 auto;
}

h1 {
  font-size: 3.5rem;
}


p {
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
  color: $gray;
}

a:hover {
  text-decoration: none;
  color: $gray;
}
