// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.main-container {
  width: 100%;
  margin: 50px auto 50px auto;
  padding-top: 50px;
}

@media(max-width: 992px) {
  .main-container {
    padding: 50px 20px 0 20px;
  }
}

@media(max-width: 768px) {
  .main-container h2 {
    text-align: center;
  }
}

.form-container {
  width: 500px;
  margin: 0 auto;
}


p {
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
  color: $gray;
}

a:hover {
  text-decoration: none;
  color: $gray;
}
